<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/new">
        <h2>New Message</h2>
        <input type="messageUser" id="messageUser" name="messageUser" placeholder="Your Name">
        <input type="messageText" id="messageText" name="messageText" placeholder="Type your message">
        <button type="submit">Submit</button>
    </form>
</body>
</html>


